@import './global.modules.scss';

.comment {
    background-color: transparent;
    border: 3px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #00000000 10%, rgb(0, 99, 49), #00000000 90%
    );
    border-image-slice: 1;
    @for $i from 0 through 4 {
        &.commentLevel_#{$i} { 
            margin-left: $i * 20px;
        }
    }
}
